.avatar {
    max-width: 200px;
    height: 200px;
    position: relative;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: Opensans;
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  font-family: Opensans;
  margin: 30px;
  padding: 30px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: flex-start;
  align-content: end;
}

h1 {
  font-size: 400%;
  margin: 0;
  padding: 20px;
}

ul {
  
  display: flex;
  justify-content: space-between;
}



.rs-school-logo {
  width: 50px;
}